div {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 350px;
  height: auto;
  border: 1px solid black;
}

img {
  width: 100%;
}

p {
  text-align: center;
}

div .buttons {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0vw;
  border: 0px solid;
  flex-direction: row;
}

div .buttons button {
  margin: 2vw;
}

div .buttons div {
  border: 0px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}